.steps {
    background: linear-gradient(#76bbf5, #2d40a3);
    background-size: 100% 400%;
    transition: all 1s ease;
}

.background1 {
    background-position:0% 0%;
}
.background2 {
    background-position:0% 25%;
}
.background3 {
    background-position:0% 50%;
}
.background4 {
    background-position:0% 75%;
}
