.steps {
    background: linear-gradient(#5ea8e6 0%, #e9a33b 25%, #ff0000 50%, #5ea8e6 75%);
    background-size: 100% 400%;
    transition: all 1s ease;
}

.background0 {
    background-position:0% 0%;
}
.background1 {
    background-position:0% 25%;
}
.background2 {
    background-position:0% 50%;
}
.background3 {
    background-position:0% 75%;
}
