.dropdown {
    z-index: 1000;
    color: $darkMint;
    // max-width: 420px;
    min-height: 120px;
    padding-bottom: 0 !important;
    display: inline-block;
    .placeholder {
        border-bottom: 2px dashed;
        &:hover {
            border-bottom-color: $gold;
            color: $gold;
            cursor: pointer;
        }
    }
    .option {
        &:hover {
            color: $darkGold;
        }
        color: $darkMint;
    }
}