.dropdown {
    font-size: xx-large;
    color: $darkMint;
    border-bottom: 2px dashed;
    max-width: 300px;
    .placeholder:hover {
        color: $gold;
        cursor: pointer;
    }
    &:hover {
        border-bottom-color: $gold;
    }
    .option {
        &:hover {
            color: $darkerMint;
        }
        color: $darkMint;
    }
}