@import "./colors.scss";

body {
    font-family: "Avenir";
    background-color: $bg;
    padding: 2em;
}

h1 {
    font-weight: 100;
    font-size: 3em;
    color: $white;
}

h2 {
    font-weight: 200;
    font-size: 2.5em;
    color: $white;
}

.gold-text {
    color: $gold;
}

.steps {
    .step {
        height: 90vh;
    }
}

.footer {
    font-family: "Pacifico";
    font-size: 1.5em;
    color: $darkMint;
    position: fixed;
    bottom: 10%;
}


@import "./app.scss";