@import "./colors.scss";
@import "./_mixins.scss";

body {
    font-family: "Avenir";
    background-color: $bg;
    padding: 0;
    margin: 0;
    transition: all 0.3s ease-in-out;
}

h1 {
    font-weight: 100;
    font-size: 3em;
    color: $white;
}

h2 {
    font-weight: 200;
    font-size: 2.5em;
    color: $white;
}

@import "./app.scss";
@import "./noMatch.scss";
@import "./menu.scss";
@import "./steps.scss";