.scroller-container {
    overflow: hidden;
    transition: transform 500ms ease-in-out;

    .scroll-step {
        height: 100vh;
        width: 100vw;
    }
}


.step {
    padding: 0 25% 0 0;
    min-height: 100vh;
    @include phone {
        padding: 20% 0 0 0;
    }
}

@include phone {
    div[name=rsvp] {
        height: 100vh;
        overflow: hidden;
        > .step {
            height: auto;
            .step-container {
                > div {
                    padding-bottom: 25px;
                }
            }
        }
    }
}

.step-container {
    font-weight: 100;
    color: $white;
    padding: 0.7em;
    font-size: 3em;
    display: flex;
    flex-direction: column;

    @include phone {
        padding: 0 1.5em;
        font-size: 1.5em;
    }
}

.dear-guest {
    margin: 1em 0;
}

.ceremony-desc, .reception-desc {
    margin: 0.40em 0;
}